main {
    height: 100%;
    min-height: 100vh;
    padding-bottom: 0em;
}

footer {
    position: absolute;
    bottom: 0.313em;
    text-align: center;
    width: 100%;
}

.uuid {
    font-size: 0.7em;
    float: right;
    padding-right: 0.313em;
    color: var(--uuid-color);
}

.summary {
    display: inline-block;
    padding: 0.313em;
    border-radius: 0.313em;
    min-width: 100px;
    text-align: center;
}

a.individual_reports:link {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--unvisited-link-color);
    text-decoration: underline;
}

a.individual_reports:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--link-color);
}

a.individual_reports:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--link-color);
    text-decoration: none;
}

a.individual_reports:active {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--link-color);
    text-decoration: none;
}

table.tenantdata tr:first-child {
    color: var(--text-color);
}

.failure { background-color: var(--test-fail); color:white;}
.warning { background-color: var(--test-warning); }
.pass { background-color: var(--test-pass); }
.manual { background-color: var(--test-other); }
.error {
    background-color: var(--test-fail);
    color: var(--test-error-color);
}