# dependencies

# testing

# production

# msc
*.xml
*.cer
*.exe
*.cat
/M365/*.xml
/PowerShell/output
/PowerShell/example
/PowerShell/M365Baseline*
/output
/example
/M365Baseline*
/Reports*
/utils/Reports*
/utils/output
/utils/M365Baseline*

# IDE
/.vscode

# MacOS
**/.DS_Store

# Reports
**/M365BaselineConformance*
/Testing/Functional/Reports*
/Testing/Functional/Archive*