# The following fields are used to document what organization this configuration file belongs to.
OrgName: Department of Example
OrgUnitName: Subdepartment of Example

# The Description field is used to provide a detailed description of the configuration file.
Description: |
  SCuBAGear YAML Configuration file
  Any exemptions and their risks should be carefully considered and
  documented as part of an organization's cybersecurity risk management program process and practices.
  In order to pass/omit certain policy checks made during a ScubaGear assessment run, necessary action
  is required to provide specific values unique to both your organization and M365 tenant in the fields below.
  Please read and understand the full ScubaGear configuration file documentation for both adding additional fields or modifying the fields below.
  The documentation can be found here: https://github.com/cisagov/ScubaGear/blob/main/docs/configuration/configuration.md

# The list of M365 Product/SCuBA baselines ScubaGear will assess. Can use ['*'] to include all products.
# For a list of acceptable values, See https://github.com/cisagov/ScubaGear/blob/main/docs/configuration/parameters.md#productnames
ProductNames:
  - aad
  - exo
  - defender
  - teams
  - sharepoint
  - powerplatform

# This parameter is used to authenticate to the different commercial/government environments.
# For a list of acceptable values, see https://github.com/cisagov/ScubaGear/blob/main/docs/configuration/parameters.md#m365environment
M365Environment: commercial

# LogIn prompts for credentials to establish a connection to the specified M365 products.
LogIn: true

# DisconnectOnExit deletes the authentication tokens from the local system that were used to connect to the Microsoft APIs
DisconnectOnExit: false

# The following fields are used to authenticate to the M365 environment using service principal authentication.
# Uncomment the following lines to use AppID and CertificateThumbprint for ServicePrincipal authentication.
# Organization: tenant.onmicrosoft.com
# AppID: 094220d7-27d9-48b1-8bf7-516b887ba8e5
# CertificateThumbprint: fedcba9876543210fedcba9876543210fedcba98

# The OPAPath field is used to specify the path to the Open Policy Agent (OPA) executable.
# Initialize-SCuBA will attempt to download the OPA executable and place it under: $env:USERPROFILE\.scubagear\Tools
# OPAPath: .

# The OutJsonFileName, OutCsvFileName, and OutActionPlanFileName fields are used to
# specify the names of the output files generated by ScubaGear.
# Recommended to leave these as the default values unless there is a specific reason to change them.
OutJsonFileName: ScubaResults
OutCsvFileName: ScubaResults
OutActionPlanFileName: ActionPlan

# The OutPath, OutFolderName, OutProviderFileName, OutRegoFileName, and OutReportName fields
# are used to specify the output directory and file names for the results of the SCuBA assessment.
# Recommended to leave these as the default values unless there is a specific reason to change them.
OutPath: .
OutFolderName: M365BaselineConformance
OutProviderFileName: ProviderSettingsExport
OutRegoFileName: TestResults
OutReportName: BaselineReports

# An anObject is equivalent to an array of objects in JSON.
# This is an example of a custom variable that can be used in Rego policies.
# AnObject:
#  name: MyObjectName

# =======================
# EXCLUSIONS : AAD SAMPLE
# =======================
# This is for the Azure Entra ID (aka Azure Active Directory) product.
Aad:
  # Legacy authentication SHALL be blocked.
  MS.AAD.1.1v1: &CommonCapExclusions
    CapExclusions:
      Groups:
        - 1a0161f4-318c-4415-b2a0-862bde2c9cde # Example Group 1
      Users:
        - 9d9ac7b2-5aa6-4830-a17a-6557e52140b0 # Example User 1

  # Users detected as high risk SHALL be blocked.
  MS.AAD.2.1v1: *CommonCapExclusions

  # Sign-ins detected as high risk SHALL be blocked.
  MS.AAD.2.3v1: *CommonCapExclusions

  # Phishing-resistant MFA SHALL be enforced for all users.
  MS.AAD.3.1v1: &MfaCapExclusions
    CapExclusions:
      Groups:
        - 1a0161f4-318c-4415-b2a0-862bde2c9cde # Example Group 1
        - cb075a02-09cf-4754-a673-90345120e03b # Example Group 3
      Users:
        - 9d9ac7b2-5aa6-4830-a17a-6557e52140b0 # Example User 1

  # If phishing-resistant MFA has not been enforced, an alternative MFA method SHALL be enforced for all users.
  MS.AAD.3.2v1: *MfaCapExclusions

  # Phishing-resistant MFA SHALL be required for highly privileged roles.
  MS.AAD.3.6v1: *MfaCapExclusions

  # Managed devices SHOULD be required for authentication.
  MS.AAD.3.7v1: *CommonCapExclusions

  # Managed Devices SHOULD be required to register MFA
  MS.AAD.3.8v1: *CommonCapExclusions

  # Deviceflow block SHALL be enforced for all users.
  MS.AAD.3.9v1: *CommonCapExclusions

  # Permanent active role assignments SHALL NOT be allowed for highly privileged roles.
  MS.AAD.7.4v1: &CommonRoleExclusions
    RoleExclusions:
      Users:
        - 2a8adc58-b7c5-4086-a5cc-244b8df40ce8 # Example User 2
      Groups:
        - 4a471183-d934-4fb4-b1b3-d9525e0e1b45 # Example Group 2

# ========================
# EXCLUSIONS : EXO SAMPLE
# ========================
# This is for the Exchange Online product.
Exo:
  # Automatic forwarding to external domains SHALL be disabled.
  MS.EXO.1.1v2:
    AllowedForwardingDomains:
      - example1.com
      - example2.com

# ============================
# EXCLUSIONS : DEFENDER SAMPLE
# ============================
# This is for the Defender product.
Defender:
  # Sensitive accounts SHALL be added to Exchange Online Protection in the strict preset security policy.
  MS.DEFENDER.1.4v1: &CommonSensitiveAccountFilter
    # Defines sensitive accounts filters used to select accounts to assign to
    # the Strict Preset Security Policy for Exchange Online Protections
    # Values for each key should match those shown in the 'Apply Exchange
    # Online Protection' section of the manage protection settings dialog.
    SensitiveAccounts:
      IncludedUsers:
        - johndoe@random.example.com
      IncludedGroups:
        - SG-MDE-Users
      IncludedDomains:
        - random.mail.example.com
      ExcludedUsers:
        - janedoe-ga@random.example.com
      ExcludedGroups:
        - 4a471183-d934-4fb4-b1b3-d9525e0e1b45
      ExcludedDomains:
        - example.com

  # Sensitive accounts SHALL be added to Defender for Office 365 protection in the strict preset security policy.
  MS.DEFENDER.1.5v1:
    *CommonSensitiveAccountFilter
    # Defines sensitive accounts filters used to select accounts to assign to
    # the Strict Preset Security Policy for Defender for Office 365.
    # Values for each key should match those shown in the 'Apply Defender for
    # Office 365 protection' section of the manage protection settings dialog.
    # Note:  This example uses a YAML alias to re-use MS.DEFENDER.1.4v1 values

  # User impersonation protection SHOULD be enabled for sensitive accounts in both the standard and strict preset policies.
  MS.DEFENDER.2.1v1: &UserImpersonationProtection
    # Defines sensitive user accounts by display name and email address in
    # the Strict and Standard Preset Security Policies impersonation
    # protection section.
    # Each value should be a string in the form of the display name and
    # email address separated by a semicolon.
    SensitiveUsers:
      - John Doe;jdoe@someemail.com

  # Domain impersonation protection SHOULD be enabled for domains owned by the agency in both the standard and strict preset policies.
  MS.DEFENDER.2.2v1: &AgencyDomainImpersonationProtection
    # Defines a list of agency domain names that should be specified
    # in the Strict and Standard Preset Security Policies impersonation
    # protection section.
    AgencyDomains:
      - random.mail.example.com

  # Domain impersonation protection SHOULD be added for important partners in both the standard and strict preset policies.
  MS.DEFENDER.2.3v1: &PartnerDomainImpersonationProtection
    # Defines a list of frequent partner domain names that should be
    # specified in the Strict and Standard Preset Security Policies
    # impersonation protection section.
    PartnerDomains:
      - random.mail.example.com

# =============================
# ANNOTATE SECTION : ANNOTATE POLICIES
# =============================
# The AnnotatePolicy field can be used to add annotations or comments to specific policies
# in the SCuBA assessment results. This allows organizations to document the rationale,
# implementation details, or other relevant information about how specific controls are met.
# For in depth details, See https://github.com/cisagov/ScubaGear/blob/main/docs/configuration/configuration.md#annotate-policies
# Note: This section is used to add contextual information to policies without affecting
#       the assessment results. The policies listed here will still be included in the
#       assessment with the additional annotation displayed in the report.

# Reasons for using Annotate Policies
# -----------------------------------
# - Provide context about implementation decisions or risk acceptance.
# - Add references to supporting documentation or evidence.
# - Explain compensating controls or mitigating factors.
# - Note planned improvements or future implementation details.
AnnotatePolicy:
  # -------------------------------------
  # ANNOTATE POLICY : AAD SAMPLE
  # -------------------------------------
  # Users detected as high risk SHALL be blocked.
  MS.AAD.2.1v1:
    Comment: "This policy is used to block users detected as high risk. The organization has a process in place to review and unblock users if necessary."
    RemediationDate: 2026-01-01  # Optional. The date a failing control is anticipated to be implemented.
  # Phishing-resistant MFA SHALL be enforced for all users.
  MS.AAD.3.1v1:
    Comment: Implementation in progress.
    RemediationDate: 12/1/2025
  # -------------------------------------
  # ANNOTATEPOLICY : EXO SAMPLE
  # -------------------------------------
  # An SPF policy SHALL be published for each domain that fails all non-approved senders.
  MS.EXO.2.2v2:
    IncorrectResult: true # use this to mark the result incorrect.
    Comment: "Known incorrect result; our SPF policy currently cannot to be retrieved via ScubaGear due to a split
      horizon setup but is available publicly."

# ============================
# OMIT SECTION : OMIT POLICIES
# ============================
# The OmitPolicy field can be used to exclude policies from the SCuBA assessment
# results (e.g., for controls that are met using a third party tool).
# For in depth details, See https://github.com/cisagov/ScubaGear/blob/main/docs/configuration/configuration.md#omit-policies
# Note:  This section is used to omit policies from the assessment from any product.
#       The policies listed here will not be included in the assessment results.
#       You must provide a rationale for each omitted policy.

# Reasons for using Omit Policies
# --------------------------------
# - The policy is not applicable to the organization's environment.
# - The policy is met using a third-party tool or solution that is not assessed by ScubaGear.
# - The policy is an acceptable risk that has been documented and approved by the organization.
OmitPolicy:

  # -------------------------------------
  # OMIT POLICY : AAD SAMPLE
  # -------------------------------------
  # Activation of the Global Administrator role SHALL require approval.
  MS.AAD.7.6v1:
    Rationale: "The approval process for the Global Administrator role is not acceptable to organization."

  # -------------------------------------
  # OMIT POLICY : EXO SAMPLE
  # -------------------------------------
  # SMTP AUTH SHALL be disabled.
  MS.EXO.5.1v1:
    Rationale: "The organization has determined that SMTP AUTH is still used for onpremis applications and is needed. Will review in the future."
    Expiration: "2026-12-31"

  # -------------------------------------
  # OMIT POLICY : TEAMS SAMPLE
  # -------------------------------------
  # A DLP solution SHALL be enabled. The selected DLP solution SHOULD offer services comparable to the native DLP solution offered by Microsoft.
  MS.TEAMS.6.1v1:
    Rationale: &DLPRationale "The DLP capability required for Teams is implemented by third party product, [x],
      which ScubaGear does not have the ability to check."

  # The DLP solution SHALL protect personally identifiable information (PII) and sensitive information, as defined by the agency. At a minimum, sharing of credit card numbers, taxpayer identification numbers (TINs), and Social Security numbers (SSNs) via email SHALL be restricted.
  MS.TEAMS.6.2v1:
    Rationale: *DLPRationale

  # -------------------------------------
  # OMIT POLICY : POWERPLATFORM SAMPLE
  # -------------------------------------
  # Non-default environments SHOULD have at least one DLP policy affecting them.
  MS.POWERPLATFORM.2.2v1:
    Rationale: *DLPRationale

  # -------------------------------------
  # OMIT POLICY : SHAREPOINT SAMPLE
  # -------------------------------------
  # Reauthentication days for people who use a verification code SHALL be set to 30 days or less.
  MS.SHAREPOINT.3.3v1:
    Rationale: "The re-authentication days for people who use a verification code is set to 90 days, which is acceptable
      to the organization. This policy is not applicable to our environment."
    Expiration: 2026-01-03

  # -------------------------------------
  # OMIT POLICY : DEFENDER SAMPLE
  # -------------------------------------
  # User impersonation protection SHOULD be enabled for sensitive accounts in both the standard and strict preset policies.
  MS.DEFENDER.2.1v1:
    Rationale: "The user impersonation protection is not applicable to our environment. Our organization does not have any sensitive users
      defined in the standard or strict preset policies."

  # A list of apps that are restricted from accessing files protected by DLP policy SHOULD be defined.
  MS.DEFENDER.4.5v1:
    Rationale: *DLPRationale


# Use this parameter to control what DNS resolver is used to fetch the SPF,
# DKIM, and DMARC records.
PreferredDnsResolvers:
  - 8.8.8.8
  - 8.8.4.4

# Use this parameter if you prefer ScubaGear not retry any failed DNS queries
# over DoH (using Cloudflare).
SkipDoH: true
