body {
    background-color: #b9bec2;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

table {
    margin: auto;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #005288;
}

h4 {
    text-align: center;
    justify-content: start;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ee4e04;
    margin-left:20%;
    margin-right: 20%;
    margin-bottom:5px;
}


.links {
    display: flex;
}

header {
    width: 1000px;
    margin: auto;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 5px;
}

header h3 {
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    color: #005288;
    display: table-cell;
    vertical-align: bottom;
}

header a {
    text-decoration: none;
}

header h3:hover {
    border-bottom: 5px solid #005288;   
}

td {
    padding: 4px;
    margin: 0px;
    overflow-wrap: break-word;
}

table, th, td {
    border: 1px solid;
}

main {
    background-color: white;
    width: 1100px;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #005288;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #005288;
    font-size: 16px;
    margin-top: 50px;
}

img {
    width: 100px;
}

.caps {
    margin-top: 10px;
    padding-left: 10px;
}
