name: Run OPA Tests
on:
  # Run tests on each commit, newly opened/reopened PR, and
  # PR review submission (e.g. approval)
  workflow_dispatch:
  push:
    paths:
      - "**.rego"
      - "**/run_opa_tests.yaml"
  pull_request:
    types: [opened, reopened]
    branches:
      - "main"
    paths:
      - "**.rego"
  pull_request_review:
    types: [submitted]

env:
  MODULE_ROOT: PowerShell/ScubaGear
jobs:
  Run-OPA-Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: latest
      - name: Run OPA Check
        run: opa check ${{ env.MODULE_ROOT }}/Rego ${{ env.MODULE_ROOT }}/Testing/Unit/Rego --strict
      - name: Run OPA Tests
        run: opa test ${{ env.MODULE_ROOT }}/Rego/*.rego ${{ env.MODULE_ROOT }}/Rego/Utils/*.rego ${{ env.MODULE_ROOT }}/Testing/Unit/Rego/**/*.rego -v
      - name: Setup Regal
        uses: StyraInc/setup-regal@v0.2.0
        with:
          version: v0.11.0
      - name: Run Regal Lint
        run: regal lint --format github ${{ env.MODULE_ROOT }}/Rego ${{ env.MODULE_ROOT }}/Testing
