# Purpose:  Run the workflow pipeline that tests code in the other workflows.
# Note:  This pipeline is a work in progress.  At the moment, it is only doing unit testing.  Eventually, it should also do linting, security checking, etc. but only for the workflow code.

name: Run the Workflow Pipeline

on:
  push:
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
      - 'Testing/workflow/**'
      - 'Testing/actions/**'
      - 'utils/workflow/**'
      - 'utils/actions/**'
  pull_request:
  workflow_dispatch:

permissions: read-all

jobs:
  # Lint and Syntax Checks
  lint-yaml:
    name: Lint
    uses: ./.github/workflows/lint_yaml.yaml
  lint-powershell:
    name: Lint
    uses: ./.github/workflows/lint_powershell.yaml
  # Security Checks
  scan-secret:
    name: Security
    needs:
      - lint-yaml
      - lint-powershell
    uses: ./.github/workflows/run_secret_scan.yaml
  check-security:
    name: Security
    needs:
      - lint-yaml
      - lint-powershell
    uses: ./.github/workflows/check_security.yaml
  # Unit Tests
  unit-powershell:
    name: Unit
    needs:
      - scan-secret
      - check-security
    uses: ./.github/workflows/unit_test_powershell.yaml
  unit-workflow:
    name: Unit
    needs:
      - scan-secret
      - check-security
    uses: ./.github/workflows/unit_test_workflows.yaml
