name: Update OPA executable version if necessary

# Run this workflow M-F at 2:11 a.m UTC 10:11 p.m Eastern Daylight Time
on:
    schedule:
        - cron: "11 2 * * 1-5"
    workflow_dispatch:
    push:
        paths:
            - ".github/workflows/run_update_opa.yaml"
            - "utils/workflow/Update-Opa.ps1"
            - "Testing/workflow/Update-Opa.Tests.ps1"

permissions: read-all

jobs:
    update-opa-dependency:
        name: Update OPA Dependency
        runs-on: windows-latest
        permissions:
            contents: write
            pull-requests: write
        defaults:
            run:
                shell: powershell
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            #   with:
            #     path: repo
            - name: Determine if OPA update is required
              id: determine-update-required
              continue-on-error: true
              shell: powershell
              run: |
                . utils/workflow/Update-Opa.ps1
                $ReturnValues = Confirm-OpaUpdateRequirements -RepoPath .

                $LatestOPAVersion = $ReturnValues["LatestOPAVersion"]
                $OPAVersionBumpBranch = $ReturnValues["OPAVersionBumpBranch"]
                $UpdateRequired = $ReturnValues["UpdateRequired"]
                $CurrentOPAVersion = $ReturnValues["CurrentOPAVersion"]

                Write-Output "LatestOPAVersion = $LatestOPAVersion"
                Write-Output "OPAVersionBumpBranch = $OPAVersionBumpBranch"
                Write-Output "UpdateRequired = $UpdateRequired"
                Write-Output "CurrentOPAVersion = $CurrentOPAVersion"

                echo latestopaversion=$LatestOPAVersion >> $env:GITHUB_OUTPUT
                echo opaversionbumpbranch=$OPAVersionBumpBranch >> $env:GITHUB_OUTPUT
                echo updaterequired=$UpdateRequired >> $env:GITHUB_OUTPUT
                echo currentopaversion=$CurrentOPAVersion >> $env:GITHUB_OUTPUT

                # Note that git-ls will always fail with exit code 1 when the
                # branch does not exist. This try-catch will catch that error
                # and intentionally ignore it, because the return value will
                # handle the problem of a missing branch.
                exit 0
            - name: Update OPA version in ScubaGear
              id: update-opa-version
              if: steps.determine-update-required.outputs.updaterequired == 'true'
              run: |
                $LatestOpaVersion = "${{ steps.determine-update-required.outputs.latestopaversion }}"
                $CurrentOpaVersion = "${{ steps.determine-update-required.outputs.currentopaversion }}"

                . utils/workflow/Update-Opa.ps1
                Update-OpaVersion -RepoPath . -CurrentOpaVersion $CurrentOpaVersion  -LatestOpaVersion $LatestOPAVersion

            - name: Create the OPA update PR
              if: steps.determine-update-required.outputs.updaterequired == 'true'
              run: |
                $LatestOpaVersion = "${{ steps.determine-update-required.outputs.latestopaversion }}"
                $CurrentOpaVersion = "${{ steps.determine-update-required.outputs.currentopaversion }}"
                $OpaVersionBumpBranch = "${{ steps.determine-update-required.outputs.opaversionbumpbranch }}"

                . utils/workflow/Update-Opa.ps1
                New-OpaUpdatePr -RepoPath . -CurrentOpaVersion $CurrentOpaVersion  -LatestOpaVersion $LatestOPAVersion -OpaVersionBumpBranch $OpaVersionBumpBranch

                # #
                # # Create the PR Body
                # #
                # $PRTemplatePath = '.\.github\pull_request_template.md'

                # $Description = '<!-- Describe the "what" of your changes in detail. -->'
                # $Motivation = '<!-- Why is this change required\? -->'
                # $Testing = '<!-- see how your change affects other areas of the code, etc. -->'
                # $RemoveHeader = '# <!-- Use the title to describe PR changes in the imperative mood --> #'

                # $NewDescription = "- This pull request was created by a GitHub Action to bump ScubaGear's Open Policy Agent (OPA) executable version dependency.`n - Please fill out the rest of the template that the Action did not cover. `n"
                # $NewMotivation = "- Bump to the latest OPA version v$($LatestOPAVersion) `n"
                # $NewTesting = "- Currently a human should still check if bumping the OPA version affects ScubaGear.`n"

                # $Body = "This is a test body fear me"
                # $PRTemplateContent = (Get-Content -Path $PRTemplatePath) | ForEach-Object {
                #     $DescriptionRegex = $_ -match $Description
                #     $MotivationRegex = $_ -match $Motivation
                #     $TestingRegex = $_ -match $Testing
                #     $RemoveHeaderRegex = $_ -match $RemoveHeader # removes unneeded new line
                #     if ($DescriptionRegex) {
                #         $_ -replace $Description, $NewDescription
                #     }
                #     elseif ($MotivationRegex) {
                #         $_ -replace $Motivation, $NewMotivation
                #     }
                #     elseif ($TestingRegex) {
                #         $_ -replace $Testing, $NewTesting
                #     }
                #     elseif ($RemoveHeaderRegex) {
                #     $_ -replace $RemoveHeader, ""
                #     }
                #     else {
                #         $_ + "`n"
                #         }
                # }
                # git config --global user.email "action@github.com"
                # git config --global user.name "GitHub Action"
                # git checkout -b "$($OPAVersionBumpBranch)"
                # git add .
                # git commit -m "Bump OPA version from v$($CurrentOPAVersion) to  v$($LatestOPAVersion)"
                # git push origin $OPAVersionBumpBranch
                # gh pr create -B main -H $OPAVersionBumpBranch --title "Bump OPA version from v$($CurrentOPAVersion) to v$($LatestOPAVersion)" --body "${PRTemplateContent}" --label "version bump"
